// import only the bootstrap assets we need here to use their breakpoint mixins with our custom styles
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Site style was leaking into our plugin, this fixes it.
.vpfo .vpfo-spaces-page a.btn[target="_blank"]::after {
  content: '';
}

.vpfo-spaces-page {
	-webkit-font-smoothing: antialiased;
	font-family: $font-whitney;
	color: $ubc-blue;
	overflow-x: visible;

	h1 {
		font-size: 2.25rem;
		line-height: 1.1667;
		font-weight: 700;
	}

	p {
		margin: 1rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

  img {
    max-width: 100%;
    height: auto;
  }

	.btn {
		@include btn;
	}

	.btn-primary {
		@include btn-primary;
	}

	.btn-secondary {
		@include btn-secondary;
	}

	.btn-border-thick {
		border-width: 0.125rem;
	}

	.breadcrumb {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1.375rem;
		height: auto;
		min-height: unset;
		gap: 0.75rem 0;

		.current-page {
			color: $ubc-brand-blue;
		}

		a {
			color: $ubc-blue;
			text-decoration: none;


			&:hover, &:focus, &:active {
				outline: none;
				text-decoration: underline;
			}
		}

		i {
			font-size: 0.5rem;
		}
	}

	.alert-message {
		background: $ubc-brand-blue;
		color: $utility-white;
		font-size: 1.125rem;
		line-height: 1.5;
		font-weight: 500;
		gap: 1rem 0.75rem;

		i {
			font-size: 1rem;
		}

		@include media-breakpoint-up(sm) {
			font-size: 1rem;
		}
	}

	.pattern-slice {
		background-image: url('images/svg/learning-spaces-template-pattern-light-bg.svg');
		background-repeat: repeat-x;
		background-position: center left;
		height: 6rem;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		overflow-x: hidden;

		@include media-breakpoint-up(lg) {
			width: calc(100% + (100vw - 940px) + 30px);
			margin-left: calc((100vw - 940px) / 2 * -1 - 15px);
			margin-right: unset;
		}

		@include media-breakpoint-up(xl) {
			width: calc(100% + (100vw - 1170px) + 30px);
			margin-left: calc((100vw - 1170px) / 2 * -1 - 15px);
		}

		.pattern-slice-gradient {
			bottom: 0;
			left: 0;
			background: linear-gradient(to bottom, $utility-white 0%, $utility-white 12.5%, transparent 100%);
		}
	}

  .glossary-info {
    cursor: pointer;
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}