// styles for both buildings and classrooms templates here

.vpfo-spaces-page {
    font-family: $font-whitney;

    .breadcrumb {
        font-size: 0.875rem;
        line-height: 1.375rem;
        height: auto;

        i {
            font-size: 0.5rem;
        }
    }
}